*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: aqua;
    color: black;
    text-align: center;
}

p{
    font-weight: 700;
    margin-top: 30px;
    color: red;
    margin-bottom: 30px;
}

button{
    padding: 10px;
    border-radius: 10px;
    background-color: aquamarine;
    color: red;
    font-weight: 700;
}
